---

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/nova/*.log'
  - '/var/log/kolla/nova/*.log'
  ignore_older: 1h
  fields:
    openstack.component: nova
  fields_under_root: true
  multiline:
    pattern: '^.*(ERROR).*[[:space:]]{3}.*'
    negate: false
    match: after

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/neutron/*.log'
  - '/var/log/kolla/neutron/*.log'
  exclude_files:
  - '/var/log/neutron/dnsmasq.log'
  ignore_older: 1h
  fields:
    openstack.component: neutron
  fields_under_root: true
  multiline:
    pattern: '^.*(ERROR).*[[:space:]]{3}.*'
    negate: false
    match: after

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/glance/*.log'
  - '/var/log/kolla/glance/*.log'
  ignore_older: 1h
  fields:
    openstack.component: glance
  fields_under_root: true
  multiline:
    pattern: '^.*(ERROR).*[[:space:]]{3}.*'
    negate: false
    match: after

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/cinder/*.log'
  - '/var/log/kolla/cinder/*.log'
  ignore_older: 1h
  fields:
    openstack.component: cinder
  fields_under_root: true
  multiline:
    pattern: '^.*(ERROR).*[[:space:]]{3}.*'
    negate: false
    match: after

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/keystone/*.log'
  - '/var/log/kolla/keystone/*.log'
  ignore_older: 1h
  fields:
    openstack.component: keystone
  fields_under_root: true
  multiline:
    pattern: '^.*(ERROR).*[[:space:]]{3}.*'
    negate: false
    match: after

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/kolla/horizon/*.log'
  ignore_older: 1h
  fields:
    openstack.component: horizon
  fields_under_root: true

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/ironic/*.log'
  - '/var/log/kolla/ironic/*.log'
  - '/var/log/ironic-inspector/*.log'
  - '/var/log/kolla/ironic-inspector/*.log'
  ignore_older: 1h
  fields:
    openstack.component: ironic
  fields_under_root: true
  multiline:
    pattern: '^.*(ERROR).*[[:space:]]{3}.*'
    negate: false
    match: after

- type: log
  enable: {{ item.enabled | d('true') }}
  paths:
  - '/var/log/designate/*.log'
  - '/var/log/kolla/designate/*.log'
  ignore_older: 1h
  fields:
    openstack.component: designate
  fields_under_root: true
  multiline:
    pattern: '^.*(ERROR).*[[:space:]]{3}.*'
    negate: false
    match: after
